
#countlabel {
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    text-align: center;
}

.btn {
    height: 30px;
    width: 150px;
}